<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Created.gohtml</title>
    <link rel="stylesheet" href="views/css/ramirez-reset.css">
    <link rel="stylesheet" href="views/css/main.css">

  </head>
  <body>
    <h1>Created a New Lead</h1>
    <p><a href="/leads/show?id={{.ID}}"> {{.ID}} - {{.Status}} - {{.Contact}} - {{.Sales}} - {{.Value}}</a>
    </p>
    <p><a href="/leads/">All Books</a></p>

  </body>
</html>
