<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show.gohtml</title>
  </head>
  <body>
    <h2>{{.ID}} - {{.Status}} - {{.Contact}} - {{.Sales}} - {{.Value}}</h2>
    <p><a href="/">All Leads</a></p>
  </body>
</html>
