{{ define "table"}}

<table>
  <thead>
    <th>ID</th>
    <th>Status</th>
    <th>Contact</th>
    <th>Sales</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{  range . }}
      <tr><td>{{.ID}} </td><td> {{.Status}} </td><td> {{.Contact}} </td><td> {{.Sales}} </td><td> {{.Value}} </td></tr>
    {{end }}
  </tbody>
</table>

{{end}}
