{{ define "table"}}

<table>
  <thead>
    <th>ID</th>
    <th>Status</th>
    <th>Contact</th>
    <th>Sales</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{  range . }}
      <tr><td>{{.ID}} </td><td> {{.Status}} </td><td> {{.Contact}} </td><td> {{.Sales}} </td><td> {{.Value}} </td><td><a class="button" href="/leads/update?id={{.ID}}"> Update </a></td><td><a href="/leads/delete/process?id={{.ID}}"> Delete </a></td>
      </tr>
    {{end }}
  </tbody>
</table>

{{end}}
