<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show.gohtml</title>
  </head>
  <body>
    <h2>{{.Isbn}} - {{.Title}} - {{.Author}} - {{.Price}}</h2>
    <p><a href="/books">All Books</a></p>
  </body>
</html>
