<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update.gohtml</title>
  </head>
  <body>
    <h1>Updated Book</h1>
    <p><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}} - {{.Title}} - {{.Author}} - {{.Price}}</a></p>
    <p><a href="/books">All Books</a></p>
  </body>
</html>
